*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}





.bg-dark {
  padding: 12px 0;
  background-color: #000 !important;
  color: #fff;
  text-align: center;
}



.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

}

/*transaction page*/
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px grey;
}

/*transaction page*/

/*
antd icons*/

.switch-icons {
  box-shadow: none;
  border: 1px solid rgb(138, 129, 129);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}